@import (inline) "vendor/normalize.css";

@color-font-main: #202020;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.woff) format('woff');
}

*,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
	color: @color-font-main;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	position: relative;
	min-height: 100vh;
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size: 13px;
	line-height: 1;
	color: @color-font-main;
}

.wrapper {
	width: 1440px;	
	margin: 0 auto;
}

.row {
  .clearfix();
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
	
  &:after {
    clear: both;
  }
}

.btn {
	display: inline-block;
	padding: 8px 44px;
	border: 2px solid #000;
	background-color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;

	&:active {
		background-color: #000;
		color: #fff;
	}

	&:focus {
		outline: none;
	}
}

header.page {
	.topline {
		position: relative;
		padding-top: 22px;
		padding-bottom: 10px;

		h1 { 
			text-align: center; 
		}

		.cart {
			position: absolute;
			right: 12px;
    	top: 16px;

			.cart-badge {
				position: absolute;
				top: 0px;
				right: 2px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				background-color: #172C50;
				color: white;
				font-size: 12px;
    		font-weight: 500;
				font-style: normal;
				pointer-events: none;
				cursor: default;
			}
		}
	}

	.nav {
		width: 1440px; 
		margin: auto; 
		padding-top: 14px, 
	}
}

footer.page {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 24px;
	text-align: center;

	a {
		display: block;
		color: #757575;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.demo-label {
    width: 120px;
    padding: 6px;
    margin: 8px auto 0;
    background-color: @color-font-main;
    color: #fff;
    text-transform: uppercase;
	}
}

section.main {
	padding-bottom: 64px;

	.content {
		// make vertical scroll always visible
		min-height: 100vh;
	}
}

// styles for react-transition-group transitions
// 
@transition-duration: 400ms;
@transition-easing: ease-out;
@appear-opacity-min: .01;
@opacity-min: .25;
@opacity-max: 1;

.route_change-appear {
  opacity: @appear-opacity-min;
}

.route_change-appear.route_change-appear-active {
  opacity: @opacity-max;
  transition: opacity @transition-duration @transition-easing;
}

.route_change-enter {
  opacity: @opacity-min;
}

.route_change-enter.route_change-enter-active {
  opacity: @opacity-max;
  transition: opacity @transition-duration @transition-easing;
}

.route_change-leave {
  opacity: @opacity-max;
}

.route_change-leave.route_change-leave-active {
  opacity: @opacity-min;
  transition: opacity @transition-duration @transition-easing;
}